.chat-main
  .main-header
    .left-contents
      %h2.group-name test
      %ul.members
        %li.group-member Member : masa
    .right-content
      = link_to "#" do
        .right-content__btn Edit
  .message-list
    .message
      .message__user
        %p.message__user__name masa
        %p.message__user__time 2019/11/20(Wed) 17:43:01
      .message__text おはよう！
    .message
      .message__user
        %p.message__user__name masa
        %p.message__user__time 2019/11/20(Wed) 17:43:34
      .message__text 今日は夜から雨
  .chat-main__form
    %form.chat-main__form__new
      .chat-main__form__new__input-box
        %input.chat-main__form__new__input-box__message{:placeholder => "type a message", :type => "text"}
          %input{:accept => "image/*", :type => "file"}